.card-settings {
    background: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
}
a{
    color: #fff !important;
}
a:hover{
    color :#fff !important;
}
mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color {
    color: red;
}
.heading{
    font-size: 16px;
    font-weight: 600;
    color:#000;
}
.mat-raised-button{
    line-height: 28px;
}
 .btn:focus {
    box-shadow: none !important; 
}

::ng-deep.mat-tab-group.mat-primary .mat-ink-bar{
    background: #21aa47 !important;
}
.mat-fab, .mat-mini-fab{
   box-shadow: none  !important;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    // background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    font-weight: 600;
    font-size: 20px;
    color: #21aa47;
}
.enable-btn{
    background: #4348CF;
border-radius: 5px;
    font-size: 13px;
    color: white;
/* width: 40%; */
}
.remove-btn{
    background: #FF0C0C;
border-radius: 5px;
color: white;
font-size: 13px;

/* width: 40%; */
}
li.list-group-item {
    border: none;
}

li.list-group-item:hover {
background: #E5E5E5;
}
.list-text{
    font-size: 14px;
}
.shadow{
   border-radius: 5px;
}
@media only screen and (min-width: 577px) and (max-width:767px) {
    .enable-btn{
  font-size: 8px !important;
}
.remove-btn{
    font-size: 8px !important;
}
.list-text {
    font-size: 11px;
}
img.img-fluid.mt-5 {
    margin-top: 21px !important;
}
a.btn.enable-btn.mt-3.mb-5 {
    margin-bottom: 0px !important;
}
a.btn.remove-btn.ms-3 {
    margin-left: 2px !important;
}

}
@media only screen and (max-width:991px) {
          
    .enable-btn{
  font-size: 12px;
}
.remove-btn{
    font-size: 12px;
}
img.img-fluid.mt-5 {
    margin-top: 21px !important;
}
a.btn.enable-btn.mt-3.mb-5 {
    margin-bottom: 20px !important;
}
        }

        @media only screen and (min-width: 992px) and (max-width:1270px) {
        .list-text {
    font-size: 10px;
}
.card.card-settings.p-3 {
    padding: 7px !important;
}
        }


        .file-upload-button {
    background-color: #ff5252;
    border-radius: 50%;
    height: 3rem;
    overflow: hidden;
    position: relative;
    width: 3rem;

  &::after {
    content: '⇪';
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
  }

  input[type="file"] {
        font-size: 100px;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
    }
}

.file-info {
  color: #999;
  font-family: Lato;
  margin-left: 0.5rem;
}
.file-upload-button1 {
    background-color: #4348CF;
    border-radius: 10%;
    // height: 3rem;
    border: #4348CF !important;
    overflow: hidden;
    position: relative;
    // width: 8rem;

  &::after {
    content: 'Update';
    color: #fff;
    font-size: 14px !important;
    text-align: center;
  }

  input[type="file"] {
        font-size: 100px;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
    }
}

// .file-info {
//   color: #999;
//   font-family: Lato;
//   margin-left: 0.5rem;
// }


.file-input {

    display: none;

}


.card-address {
    background: #FEFEFE;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    min-height: 100vh;
    width: 100%;
    border-radius: 5px;
    border: none;
    /* min-height: 100vh!important; */
}

.mat-raised-button {
    line-height: 28px !important;
    padding: 0px !important;

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    // background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    font-weight: 600;
    font-size: 20px;
    color: #21aa47;
}

.fa-plus-circle {
    color: #21aa47;
    font-size: 16px;
}

.export-btn {
    background-color: #21aa47;
    color: #fff;
}

.add-txt {
    font-size: 15px;
    font-weight: 600;
}

.search-box {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: end;

}

.search-input {
    width: 100%;
    height: 35px;
    padding: 10px;
    border: 2px solid #21aa47;
    border-radius: 10px 0 0 10px;
    border-right: none;
    outline: none;
    font-size: 12px;
    color: black;

    background: none;
}

.te1 {
    cursor: pointer;
}

.table>:not(:first-child) {
    border-top: none !important;
}

.search-button {
    text-align: center;
    height: 35px;
    //   width: 40px;
    outline: none;
    cursor: pointer;
    border: 2px solid #21aa47;
    border-radius: 0 10px 10px 0;
    border-left: none;
    background: none;
    color: #21aa47;
    font-size: 14px;
    //   border-left: 4px solid #111d5e;


}


td {
    padding: 10px !important;
    font-size: 14px !important;
    background-color: #fff !important;
    text-align: -webkit-center;
    border-bottom: 2px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;

}

th {
    padding: 12px !important;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;
    font-size: 14px !important;
    background: #21aa47;
    color: #fff;
    font-weight: 400;
    border-right: 1px solid #f2f2f2;
    text-align: center;

}

.trash_icon {
    color: red;
}

.card_table {
    background: #FFFFFF;
    box-shadow: -1px -1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0), 2px 2px 2px rgba(0, 0, 0, 0.2), 0px 0px 0px rgba(0, 0, 0, 0);
    border-radius: 8px;
    // padding-left: 1rem;
    // padding-right: 1rem;
    border: none;
    overflow-x: auto;


}

.ellip {
    white-space: nowrap !important;
    width: 160px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

p {
    margin-bottom: 0px !important;
}

.new-one {
    cursor: pointer;

    justify-content: center;


}


.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: rgba(33, 170, 71, 0.06) !important;
    /* color: var(--bs-table-striped-color); */
}

@media only screen and (min-width:320px) and (max-width:767px) {
    .search-input {

        width: 60%;
        height: 25px;

    }

    .search-button {
        height: 25px;
    }

    .col-padding {
        padding: 0px;
    }

    .mobile-padding {
        padding: 5px !important;
    }

    .card-table {
        overflow-x: auto !important;
    }

}


@media only screen and (min-width:768px) and (max-width:991px) {

    .ellip {
        width: 70px !important;
    }




}


